body{

background:#eef2f7;

font-family:'Segoe UI',sans-serif;

}

main{

background:#eef2f7;

}

.card{

border:none;

border-radius:20px;

box-shadow:0 12px 25px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.table{

border-radius:15px;

overflow:hidden;

}

.navbar{

background:linear-gradient(90deg,#0f9b0f,#00b09b)!important;

}

.bg-dark{

background:#1f2937!important;

}

.nav-link{

border-radius:10px;

padding:10px;

margin-bottom:8px;

transition:.3s;

}

.nav-link:hover{

background:#16a34a;

}
a{
  text-decoration: none; color: black;
}